* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	background-color: #000000;
	overflow: hidden;
	--tp-base-background-color: hsla(0, 0%, 10%, 0.80);
	--tp-base-shadow-color: hsla(0, 0%, 0%, 0.20);
	--tp-button-background-color: hsla(0, 0%, 80%, 1.00);
	--tp-button-background-color-active: hsla(0, 0%, 100%, 1.00);
	--tp-button-background-color-focus: hsla(0, 0%, 95%, 1.00);
	--tp-button-background-color-hover: hsla(0, 0%, 85%, 1.00);
	--tp-button-foreground-color: hsla(0, 0%, 0%, 0.80);
	--tp-container-background-color: hsla(0, 0%, 0%, 0.30);
	--tp-container-background-color-active: hsla(0, 0%, 0%, 0.60);
	--tp-container-background-color-focus: hsla(0, 0%, 0%, 0.50);
	--tp-container-background-color-hover: hsla(0, 0%, 0%, 0.40);
	--tp-container-foreground-color: hsla(0, 0%, 100%, 0.50);
	--tp-groove-foreground-color: hsla(0, 0%, 0%, 0.20);
	--tp-input-background-color: hsla(0, 0%, 0%, 0.30);
	--tp-input-background-color-active: hsla(0, 0%, 0%, 0.60);
	--tp-input-background-color-focus: hsla(0, 0%, 0%, 0.50);
	--tp-input-background-color-hover: hsla(0, 0%, 0%, 0.40);
	--tp-input-foreground-color: hsla(0, 0%, 100%, 0.50);
	--tp-label-foreground-color: hsla(0, 0%, 100%, 0.50);
	--tp-monitor-background-color: hsla(0, 0%, 0%, 0.30);
	--tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.30);
}

canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#refresh {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	cursor: pointer;
	position: fixed;
	top: 1rem;
	left: 1rem;
	text-decoration: none;
}

#refresh:hover {
	color: #049ef4;
}

#refresh svg {
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}

#openFileButton {
	font-family: sans-serif;
	font-size: 1rem;
	position: absolute;
	top: calc(50vh - 2rem);
	left: calc(50vw - 7rem);
	z-index: 999;
	border: 0.1rem solid #303030;
	background-color: transparent;
	padding: 0.5rem 1rem;
	color: #ffffff;
	width: 14rem;
	height: 4rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#openFileButton:hover {
	border-color: #ffffff;
}

#fileInput {
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

footer {
	font-family: sans-serif;
	font-size: 1rem;
	position: absolute;
	color: #ffffff;
	bottom: 0;
	display: flex;
	width: 100vw;
	padding: 1rem;
	align-items: center;
	justify-content: flex-end;
}

footer a {
	color: #049ef4;
}
